################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GAIBC2018/bin
/GAIBC2018/obj
/.vs
/GAIBC2018/Properties/PublishProfiles
